---
import { getTeamMembers } from "../../lib/API";
import type { TeamMember } from "../../lib/types";
import Base from "../../layouts/Base.astro";
import PageHeader from "../../components/PageHeader.astro";
import RichTextContainer from "../../components/RichTextContainer.astro";

export async function getStaticPaths() {
    const teamMembers: TeamMember[] = await getTeamMembers();
    return teamMembers;
}

const { slug } = Astro.params;
const { name, title, info, image, offer } = Astro.props;
---

<Base>
    <main>
        <article>
            <PageHeader name={name} title={title} image={image} />
            <h2 class="text-center text-xl text-brand px-16 py-8" set:html={offer.join(" • ")} />
            <RichTextContainer content={info} />
        </article>
    </main>
</Base>