---
import { getTeamMembers } from "../../lib/API";
import type { TeamMember } from "../../lib/types";
import Base from "../../layouts/Base.astro";
import PageHeader from "../../components/PageHeader.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

export async function getStaticPaths() {
    const teamMembers: TeamMember[] = await getTeamMembers();
    return teamMembers;
}

const { slug } = Astro.params;
const { name, title, info, image } = Astro.props;
---

<Base>
    <main>
        <article>
            <PageHeader name={name} title?={title} image={image} />
            <div class="prose" set:html={documentToHtmlString(info)} />
        </article>
    </main>
</Base>