---
import { getOffers } from "../../lib/API";
import type { Offer } from "../../lib/types";
import Base from "../../layouts/Base.astro";
import PageHeader from "../../components/PageHeader.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

export async function getStaticPaths() {
    const offers: Offer[] = await getOffers();
    return offers;
}

const { slug } = Astro.params;
const { name, intro, text, image } = Astro.props;

---

<Base>
    <main>
        <article>
            <PageHeader name={name} image={image} />

            <div class="prose" set:html={documentToHtmlString(text)} />
        </article>
    </main>
</Base>