---

import { getTeamMembers, getOffers, getPages } from '../lib/API';
import Base from '../layouts/Base.astro';
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const teamMembers = await getTeamMembers();
// console.log(teamMembers);
const offers = await getOffers();
console.log(offers);
const pages = await getPages();
// console.log(pages);

---

<Base>
	<main>
		{teamMembers.map((item) => (
			<section>
      <h2>{item.fields.name}</h2>
      <article set:html={documentToHtmlString(item.fields.info)}></article>
    </section>
		))}
	</main>


</Base>
