---
import { getConfigByID, getWisdoms } from "../lib/API";

const navigation = await getConfigByID("14812i6b0KLxGsHx9jNlfv");
const wisdoms = await getWisdoms();

function getRandomInteger(min, max) {
  if (min > max) {
    return -1;
  }

  if (min === max) {
    return min;
  }

  var r;

  do {
    r = Math.random();
  } while (r === 1.0);

  return min + parseInt(r * (max - min + 1));
}

const quote = wisdoms[getRandomInteger(0, wisdoms.length - 1)];
---

<footer class="text-center bg-brand text-white md:grid grid-cols-3">
  <div class="p-4 col-span-2">
    <blockquote class="p-4 font-primaryExtraLight text-xl md:text-2xl text-left">
      <span class="text-3xl md:text-4xl">»</span>
      {quote.props.quote}
    </blockquote>
    <p class="text-right font-smallCapsLight">— {quote.props.author}</p>
  </div>
  <nav class="p-4">
    <ul class="pt-3 md:pt-0 md:ps-2 border-t md:border-t-0 md:border-s border-white md:text-left font-smallCaps lowercase tracking-wider">
      {
        navigation.data.map((item) => (
          <li>
            <a class="block px-4 py-1 hover:underline underline-offset-4 hover:bg-black/10" href={item.link}>{item.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <p class="p-4 border-t border-white col-span-3 font-smallCapsLight tracking-wider">
    © {new Date().getFullYear()} Praxis Lars Werner • Mit &#9829; jemacht!
  </p>
</footer>
