---
import { getConfigByID, getPageByID } from "../lib/API";

const { data } = await getConfigByID("5eUmE4yWNEM9xNibICQaWh");

// console.log(data.jobOfferID);

const jobOfferBanner = await getPageByID(data.jobOfferID);
---

{
  jobOfferBanner && (
    <div class="bg-brand text-center text-white p-4 fixed top-0 md:top-auto md:bottom-0 w-full border-b border-t border-white  ">
      <a href={`/${jobOfferBanner.params.slug}`}>
        <h2 class="mb-2 hover:underline underline-offset-4 font-smallCaps text-lg">{jobOfferBanner.props.name}</h2>
        <p class="prose text-white m-auto">{jobOfferBanner.props.intro}</p>
      </a>
    </div>
  )
}
