---
const { name, title, image } = Astro.props;
---

<header style={`background-image: url('https:${image.url}')`} class="flex w-screen h-96 flex-col items-center justify-center bg-cover bg-no-repeat bg-center">
    <div class="z-10 text-center">
        <h1>{name}</h1>
        {title && <h1>{title}</h1>}
    </div>
</header>